.git
__pycache__
*.pyc
*.pyo
venv/
.venv/
.env
.env.*
*.log
*.log.*
.pytest_cache/
single.Dockerfile
multi.Dockerfile
alpine.Dockerfile
Dockerfile
Dockerfile.*
*.Dockerfile
docker-compose.yml
.dockerignore